{% extends "base.html"%}
{% block title %}Modules{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/landing_page/modules.css')}}">
{% endblock %}
{% block content %}

    <section>
        <h2>Color Pallet</h2>
        
            <article>
                <div>
                    <h3>Primary</h3>
                    <p>#E11B22</p>
                </div>
                <div>
                    <h3>Secondary</h3>
                    <p>#212529</p>
                </div>
                <div>
                    <h3>Text</h3>
                    <p>#212529</p>
                    <p>#fff</p>
                </div>
            </article>
    </section>
    <section>
        <h2>TypeFace</h2>
            <article>
                <div>
                    <h3>Font Name</h3>
                    <p></p>
                </div>

                <div>
                    <h3>Font Weight</h3>
                    <p>Bold</p>
                    <p>Medium</p>
                    <p>Regular</p>
                    <p>Ultralight</p>
                </div>

                <div>
                    <h3>Examples and Links</h3>
                    <p></p>

                    <a></a>
                </div>

                <div>
                    <h3>Pre-Defined Sizes</h3>
                    <!-- 48, 36, 24, 18, 16, 14, 12 -->
                    <!-- H1, H2, H3, H4, H5, H6 -->
                    <!-- Body/Paragraph text size and style -->
                </div>
            </article>
    </section>
    
    <section>
        <h2>List</h2>
            <article>
                <h3>Primary</h3>
            </article>
    </section>

    <section>
        <h2>Icons</h2>
            <article>
                <h3></h3>
            </article>
    </section>
    
    <section>
        <h2>Buttons</h2>
        <div>
            <p>Font: -Font Name- -Weight- -Size- </p>
        </div>
        <article>
            <h3>Add Button</h3>
        </article>

        <article>
            <h3>Switches</h3>
        </article>

        <article>
        <div>
            <h3>Primary Button</h3>
            <p>Background Color: </p>
            <p>Text Color: </p>
            <div>
                <button class="primary">button text</button>
                <button class="primary-hover">button text</button>
                <button class="primary-disabled">button text</button>
                <button class="primary-pressed">button text</button>
                <button class="primary-focused">button text</button>
            </div>
        </div>

        <div>
            <h3>Secondary Button</h3>
            <p>Background Color: </p>
            <p>Text Color: </p>
            <p>Border: -Pixel Size- -Solid- -Color-</p>
            <div>
                <button class="secondary">button text</button>
                <button class="secondary-hover">button text</button>
                <button class="secondary-disabled">button text</button>
                <button class="secondary-pressed">button text</button>
                <button class="secondary-focused">button text</button>
            </div>
        </div>

        <div>
            <h3>Social Network Button</h3>
        </div>

        </article>
    </section>

    <section>
        <h2>Forms</h2>
            <article>
                <h3></h3>
            </article>
    </section>

    <section>
        <h2>Navagation</h2>
            <article>
                <h3></h3>
            </article>
    </section>

    <section>
        <h2>Drop Down and Option Button</h2>
            <article>
                <h3></h3>
            </article>
    </section>

    <section>
        <h2>Dialogue</h2>
            <article>
                <h3></h3>
            </article>
    </section>

{% endblock %}
